
.footer {
  height: 200px;
  border-top: 2px solid;
  background: url('../../assets/header-background-dark.jpg') 0 0/100% auto no-repeat;
  background-size: cover;
  color: #a4a4a4;
.f{
  width: 100%;
  margin: 20px auto;

}
}
 