.prod {
    .carousel .thumb {
height: 110px;
width: 70px;
    }
    .carousel .thumb img{
        height: 100px;
            }
    .carousel .thumb:hover {

        opacity: 0.8;
    }
    .carousel .thumb.selected {

    }
    .carousel.carousel-slider .control-arrow {
        top: 0;
        background: #d2e8e8;
        font-size: 26px;
        bottom: 0;
        margin-top: 0 20px ;
        padding: 6px;
    }
    .carousel .control-arrow {
        outline: 0;
        top: 50%;
        margin-top: -15px;
        font-size: 18px;
        background: #d2e8e8;
    }
    .carousel .control-arrow:before {
        margin: 0 5px;
        display: inline-block;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        content: '';
    }
    .carousel .control-dots .dot {
        transition: opacity .25s ease-in;
        opacity: .3;
        filter: alpha(opacity=30);
        box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
        background: rgb(164, 164, 164);
        border-radius: 50%;
        width: 10px;
        height: 10px;
        cursor: pointer;
        display: inline-block;
        margin: 0 8px;
    }
    .carousel .thumbs {
        transition: all .15s ease-in;
        transform: none;
        position: relative;
        list-style: none;
        white-space: nowrap;
        // overflow-x: scroll;
    }
    .carousel .slide {
        background: #fff;
      }
      .productDetailsContainerImg{
        width: 100%;
        margin: 10px auto;
        max-height: 550px;
        padding: 20px;
        background: #fff;
        margin-left: 10px;
      }
 
    .checkbox-item:hover{
        font-weight: 600
    }
    input[type="radio"]:checked {
        margin-left: 15px;
      }
    .checkbox-item:checked{
        font-weight: 600;
        background-color:red;
    }
    table td {
        padding: 5px;
        text-align: center;
    }
    .section{
     padding-left: 50px;
        p{
            margin-top: 15px;
            font-size: 14px;
            opacity: 0.7;
        }

        .section-title{
vertical-align: baseline;
font-size: 16px;
line-height: 133.5%;
color: #2E2E2E;
position: relative;
white-space: nowrap;
font-weight: 700;
display: flex;
align-items: center;
margin-top: 25px;
        }
.parameters-list{

.parameter-item {
    // display: flex;
    position: relative;
    margin-top: 6px;
    :after {
        display: block;
        position: absolute;
        left: 0; 
        bottom: 5px;
        border-bottom: 1px dotted #2E2E2E;
        height: 3px;
    }
    .val {
        
        position: absolute;
        z-index: 2;
        right: 0;
        padding-right: 6px;
        background: #fff;
        opacity: 0.8;
    }
    .lev {
        position: relative;
        z-index: 2;
        left: 0;
        text-align: right;
        opacity: 0.8;

    }
}
}
    }
.main-image {
    box-shadow: 0 4px 30px rgba(0, 0, 0, .23);
}
.order-info {
    color: #2E2E2E;
font-family: Tahoma;
font-size: 100%;
vertical-align: baseline;
background: #e7e7e7;
padding: 10px 15px 13px 17px;
margin-top: 20px;
box-shadow: 0 4px 9px rgba(0, 0, 0, .13);
border: 1px solid #8e8e8e;
.val{
    padding-left: 15px;
    padding-right: 100px;
}
.lev{
    padding-left: 50px;
    
}
.checkbox-item{
font-size: 16px;
line-height: 150%;
margin-top: 10px;
.val {
font-family: Tahoma;
font-size: 28px;
cursor: pointer;
// outline: 0;
box-sizing: border-box;
margin-left: 10px;
// padding: 0;
// border: 0;
font-size: 100%;
vertical-align: baseline;
margin-right: auto;
opacity: 0.8;
}
.lev {
    color: #2E2E2E;
font-family: Tahoma;
line-height: 150%;
cursor: pointer;
position: absolute;
right: 0;
padding-right: 30px;
opacity: 0.8;

}
}

.price{
margin-top: 13px;
padding-top: 11px;
display: flex;
align-items: center;
flex-wrap: wrap;
line-height: 150%;
font-weight: 700;
font-size: 20px;
.old{
    position: absolute;
right: 150px;
opacity: .5;
text-decoration: line-through;
font-weight: 400;
margin-left: 40px;
font-size: 18px;
}
.new{
    position: absolute;
    right: 20px;  
}
}

}
.to-cart {
    box-shadow: 0 4px 9px rgba(0, 0, 0, .13);
    width: 36.5%;
    height: 40px;
    font-weight: 700;
    margin-top: 20px;
    margin-right: 10px;
span {
    font-family: Tahoma;
    font-size: 14px;
    font-weight: 700;
    color: rgb(0, 0, 0);
}
.bi{
    margin-right: 2px;
    margin-bottom: 3px;
}
}
.section {
    color: #2E2E2E;
    font-family: Tahoma;
    outline: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
.section-title {
    margin-top: 20px;
    :after{
            display: block;
        height: 1px;
        background: #2E2E2E;
        opacity: .1;
        margin: 4px 0 0 8px;
    }
}

.table-size {
    color: #2E2E2E;
font-family: Tahoma;
outline: 0;
box-sizing: border-box;
margin: 0;
padding: 0;
border: 0;
vertical-align: baseline;
font-size: 14px;
line-height: 130%;
padding-top: 11px;
    .head {
        font-family: Tahoma;
        line-height: 130%;
        box-sizing: border-box;
        font-size: 16px;
        text-transform: uppercase;
        display: flex;
        color: #939393;
        opacity: 0.6;
        .cell {
            color: #2E2E2E;
font-family: Tahoma;
margin: 0 20px;
font-size: 16px;
width: 100px;
text-align: center;
        }
    }
    .input-block:hover {
        background-color: #d0d0d0;

    }

.input-block:active{
    background-color: #b3b3b3;

}
    .input-block{
        display: flex;
        margin: 10px;
        overflow: hidden;
        padding: 10px 0 10px 0;
        // .form-check-label{
        //     color: #2E2E2E;
        //     font-family: Tahoma;
        //     font-size: 16px;
        //     display: flex;
        // }
        .cell {
            position: relative;
            color: #2E2E2E;
font-family: Tahoma;
padding: 0 30px;
font-size: 16px;
display: flex;
        }
    }
}
}
}