.titles {
    display: grid;
    text-align: center;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
    .titles-title {
        margin: 0 auto;
        display: grid;
        
  
      h2 {
        font-size: 28px;
        margin: 10px auto;
        border-bottom: 1px solid #333;
      }
      span {
        font-size: 17px;
        padding: 20px 0;
      }
    }
  }
  